.Card {
    background: var(--cardBackground);
    padding: 20px;
    max-width: 400px;
    border-radius: 30px;
    align-items: start;
    backdrop-filter: blur(20px);
    display: flex;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}



.Card img {
    width: 80px;
    border-radius: 15px;
}

.Card:hover {
    opacity: 50;
}