.Footer {
    margin: auto;
    padding: 20px 20px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, auto);
    grid-gap: 40px;
}

@media(max-width: 640px) {
  .Footer {
    grid-template-columns: none;
    grid-gap: 0px;
  }
}



.Footer .Socials {
  padding: 15px;
  max-width: 300px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  justify-items: center;
  align-items: center; 
}