.Header {
    position: fixed;
    width: 100%;
    padding: 50px 0;
    z-index: 100;
}

.HeaderGroup {
    max-Width: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-items: center;
    background: rgba(245, 245, 245, 0.8);
    backdrop-filter: blur(4px);
    padding: 5px 10px;
    border-radius: 30px;
}



.Header a {
    color: black;
    font-weight: 700;
    padding: 3px 8px;
    border-radius: 10px;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Header a:hover {
    color: #5344AF;
    background: white;
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}


@media (max-width: 640px) {
    .Header {
        padding: 8px 0;
        background: rgba(245, 245, 245, 0.8);
        backdrop-filter: blur(4px);
    }

    .HeaderGroup {
        background: transparent;
        border-radius: none;
        backdrop-filter: none;
    }



    .Header a:hover {
        transform: none;
        box-shadow: none;
        background: none;
    }

}