.Header {
    position: absolute;
    width: 100%;
    padding: 20px 0;
    z-index: 100;
}

.HeaderGroup {
    max-Width: 200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-items: center;
    background: var(--transparentMaterial);
    backdrop-filter: blur(20px);
    padding: 5px 10px;
    border-radius: 30px;
}



.Header a {
    font-weight: 700;
    padding: 3px 8px;
    border-radius: 10px;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Header a:hover {
    background: var(--contrastMaterial);
    transform: scale(1.1);
    box-shadow: 0 5px 5px var(--shadow);
}

