.Header {
    position: absolute;
    width: 100%;
    padding: 20px 0;
    z-index: 100;
}

.HeaderGroup {
    max-Width: 300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-items: center;
    background: var(--transparentMaterial);
    backdrop-filter: blur(4px);
    padding: 5px 10px;
    border-radius: 30px;
}



.Header a {
    font-weight: 700;
    padding: 3px 8px;
    border-radius: 10px;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Header a:hover {
    background: var(--contrastMaterial);
    transform: scale(1.1);
    box-shadow: 0 5px 5px var(--shadow);
}


@media (max-width: 640px) {
    .Header {
        position: relative;
        padding: 10px 0;
        background: var(--bg);
        backdrop-filter: blur(4px);
        
    }

    .HeaderGroup {
        background: transparent;
        border-radius: none;
        backdrop-filter: none;
        margin-left: auto;
        margin-right: 0;
    }


    .Header a:hover {
        transform: none;
        box-shadow: none;
        background: none;
    }

}