

.Hero {
    background: var(--heroBackground);
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: Opacity 1s 0s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  }
  
  .HeroGroup {
    padding-top: 100px;
    padding-bottom: 40px;
    display: grid;
    margin: 0 auto;
    max-width: 1100px;
    grid-template-columns: repeat(2,auto);
  }
  
  
  .Tags p {
    color: var(--textLink);
    font-weight: 600;
    padding: 5px 8px;
    border-radius: 25px;
    margin: auto;
    text-align: center;
    background: var(--cardBackground);
  }
  
  .Tag {
    position: relative;
    display: inline-block;
    padding: 5px;
  }
  
  
  
  .InfoSections {
    display: grid;
    grid-template-columns: repeat(2, auto);
    opacity: 0;
    animation: Opacity 1s 0s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
    max-width: 1100px;
    margin: 0 auto;
  }
  
  
  @media (max-width: 1000px) {
    .InfoSections {
      max-width: 800px;
    }
  
  }
  
  @media (max-width: 640px) {
    .InfoSections {
      grid-template-columns: repeat(1, auto);
    }
  }
  
  .Important p {
      font-weight: 500;
  }
  
  
  .Photo img {
    margin: 0 auto;
    max-width: 500px;
  }
  
  
  
  .Song {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: start;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    justify-content: start;
    border-radius: 20px;
    padding: 10px;
    color: var(--textNormal);
    font-weight: 400;
  }
  
  .Song img {
    width: 80px;
    border-radius: 15px;
  }
  
  .Song:hover {
    background: var(--cardBackground);
    transform: scale(1.05);
  }
  
  .TitleArtist {
    padding-left: 15px;
    
  }
  
  .SongTitle p {
    color: var(--textLink);
    font-size: 20px;
    font-weight: 600;
  }
  
  .TitleArtist p {
    margin: 5px;
  
  }
  
  

  
  .HeroGroup img {
    margin: 0 0;
    max-height: 275px;
    border-radius: 30px;
    padding: 20px;
  }
  
  
  
  
  .HeroTextGroup {
    margin: 0 0 0 0;
    max-width: 600px;
    text-align: start;
    align-self: center;
    padding: 20px;
  }
  
  
  
  .HeroTextGroup h1 {
    color: var(--textLink);
    margin: 0;
    font-size: 60px;
    line-height: 1;
    opacity: 0;
    animation: HeroAnimation 2s 0.1s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  }
  
  .HeroTextGroup p {
    font-size: 20px;
    font-weight: 500;
    animation: HeroAnimation 2s 0.1s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
    opacity: 0;
  }
  
  .Hero .Socials {
    opacity: 0;
    padding-top: 10px;
    max-width: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    justify-items: center;
    align-items: center; 
    animation: HeroAnimation 1s 1.0s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  }
  
  
  .Socials svg {
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  }
  
  .Socials svg:hover {
    transform: scale(1.1);
  }
  
  
  .Socials path {
    fill: var(--textLink);
  }
  
  .Socials svg:hover path{
    fill: var(--textHover);
  }
  
  
  
  
  
  
  
  
  @media (max-width: 1000px) {

    .HeroGroup {
      padding-top: 40px;
      padding-bottom: 0px;
      max-width: 800px;
    }
  
    .HeroTextGroup h1 {
      font-size: 36px;
    }
  
    .HeroTextGroup p {
      font-size: 18px;
    }
  
    
  
  
  
  }

  @media (max-width: 640px) {
    .Hero .Socials {
      padding-top: 20px;
      margin: auto;
      grid-gap: 20px;
    }

    .HeroGroup {
      grid-template-columns: none;
      grid-template-rows: none;
      display: flex;
      flex-direction: column-reverse;
    }


    .HeroGroup img {
      margin: 0 auto;
    }

    .Padding {
      padding: 0 !important;
    }

  }
  
  .Padding {
    padding: 0 30px;
  }
  
  
  @keyframes HeroAnimation {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  @keyframes Opacity {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 100;
    }
  }
  
  @keyframes LastNameOpacity {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0.4;
    }
  }
  
  
  
  
  .lastName {
    animation: LastNameOpacity 10s 3s forwards ease-in;
  }