

.Hero {
    background: var(--heroBackground);
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: Opacity 1s 0s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  }
  
  .HeroGroup {
    padding-top: 100px;
    padding-bottom: 0px;
    display: grid;
    margin: 0 auto;
    max-width: 1100px;
    grid-template-columns: repeat(2,auto);
  }
  

  .flex-container {
    display: flex;
  }
  

  .grouped-sections {
    max-width: 1100px;
    margin: 0 auto;
  }


  .max-width {
    max-width: 1100px;
    margin: 0 auto;
  }


.black-background {
  background: black;
}

.bottom-padding {
  padding-bottom: 40px;
}


.holo-text {
  background: linear-gradient(90.14deg, #CBFCFF 0.12%, #DFFFF0 26.95%, #DCD7FF 41.57%, #F6DEFF 50.36%, #D8FFF8 64.16%, #CBFCFF 95.09%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.white-text {
  color: white;
}

.project-media {
  display: block;
  height: auto;
  max-width: 100%;
  align-self: center;
  padding: 20px;
}

  @media(max-width: 820px) {
    .grouped-sections {
      display: flex;
      flex-direction: column-reverse;
    }

    .project-media {
      width: 100%;
      padding: 20px 0px;
    }


  }
  
  

  

  @media (max-width: 820px) {
    .flex-mobile-reverse {
      flex-direction: column-reverse !important;
    }

    .flex-container {
      flex-direction: column;
    }

    .Important {
      max-width: 1000px !important;
      width: 100% !important;
    }


    

  }

  @media(max-width: 640px) {
    .HeroTextGroup h1 {
      font-size: 40px !important;
    }
  
    .HeroTextGroup p {
      font-size: 18px !important;
    }



  }
  


  .Important {
    max-width: 400px;
    width: 400px;
  }
  

  .Proud {
    background: linear-gradient(90deg, #D25E53 0%, #D0922B 20.31%, #F9D651 39.06%, #6BDC85 57.81%, #498FF7 78.65%, #716FD5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  

  
  
  
  

  
  .HeroGroup img {
    margin: 0 0;
    max-height: 275px;
    border-radius: 30px;
    padding: 20px;
  }
  
  
  
  .HeroTextGroup {
    margin: 0 0 0 0;
    max-width: 600px;
    text-align: start;
    padding: 20px;
  }
  
  
  
  .HeroTextGroup h1 {
    color: var(--textLink);
    margin: 0;
    font-size: 60px;
    line-height: 1;
    opacity: 0;
    animation: HeroAnimation 2s 0.1s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  }
  
  .HeroTextGroup p {
    font-size: 20px;
    font-weight: 500;
    animation: HeroAnimation 2s 0.1s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
    opacity: 0;
  }
  
  

  
  
  
  
  
  


  @media (max-width: 820px) {

    .HeroGroup {
      grid-template-columns: none;
      grid-template-rows: none;
      display: flex;
      flex-direction: column-reverse;
      max-width: 640px;
    }


    .HeroGroup img {
      max-width: 0;
      visibility: hidden;
      padding: 0px !important;
    }

    .Padding {
      padding: 0 !important;
    }

   

  }
  
  .Padding {
    padding: 0 35px;
  }
  
  
  @keyframes HeroAnimation {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  @keyframes Opacity {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 100;
    }
  }
  
  @keyframes LastNameOpacity {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0.4;
    }
  }
  
  
  
  
  .lastName {
    animation: LastNameOpacity 10s 3s forwards ease-in;
  }