
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  --bg: rgb(249, 249, 249);
  --textNormal: black;
  --textLink: #236549;
  --textHover: black;
  --contrastMaterial: white;
  --selectedMaterial: white;
  --secondaryMaterial: rgb(106, 148, 123);
  --transparentMaterial: rgba(245, 245, 245, 0.8);
  --heroBackground: linear-gradient(180deg, #D0F1E1 0%, #CDF5E4 39.58%, rgb(249, 249, 249) 100%);
  --cardBackground: rgb(229, 247, 237);
  --textGradient: linear-gradient(180deg, #125937 0%, #1E8465 100%);
  --textTransparent: rgba(0,0,0,0.8);
  --shadow: rgba(0,0,0,0.25);
  --border: #e4e4e7;


  font-family: 'Inter';
  margin: 0;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;

  background-color: var(--bg);
  color: var(--textNormal)
}
@media (prefers-color-scheme: dark) {
body {
  --bg: rgb(9, 9, 9);
  --textNormal: white;
  --textLink: #B7FFDC;
  --textHover: white;
  --contrastMaterial: rgb(35, 35, 35);
  --selectedMaterial: rgb(55, 55, 61);
  --secondaryMaterial: rgb(91, 126, 105);
  --transparentMaterial: rgba(32, 32, 32, 0.8);
  --heroBackground: linear-gradient(180deg, #2E493B 0%, #1D2D23 41.15%, rgb(9, 9, 9) 100%);
  --cardBackground: rgba(50, 94, 71, 0.5);
  --textGradient: linear-gradient(180deg, #D0FFE9 0%, #D5FFEB 100%);
  --textTransparent: rgba(255,255,255,0.8);
  --border: #2c2c2c;
  
}
}

a {
  color: var(--textLink);
  text-decoration: none;
  font-weight: 600;
}


a:hover {
  color: var(--textHover);
}

h3 {
  color: var(--textHover);
}


.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}


.Button {
  font-size: 11pt;
  text-align: center;
  border-radius: 6px;
  padding: 9px;
  background: var(--contrastMaterial);
  color: var(--textHover);
  box-shadow: 0 0 transparent, 0 0 transparent, 0 1px 2px 0 rgba(0,0,0,0.05);
  box-sizing: border-box;
  border: 0 solid var(--border);
  border-width: 1px;
}

.Button:hover {
  background: var(--selectedMaterial);
}