
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  --bg: white;
  --textNormal: #333;
  --textLink: #236549;
  --textHover: black;
  --contrastMaterial: white;
  --transparentMaterial: rgba(245, 245, 245, 0.8);
  --heroBackground: linear-gradient(180deg, #D0F1E1 0%, #CDF5E4 39.58%, #FFFFFF 100%);
  --cardBackground: linear-gradient(180deg, rgba(221, 255, 235, 0.5) 0%, rgba(217, 255, 241, 0.5) 100%);
  --textGradient: linear-gradient(180deg, #125937 0%, #1E8465 100%);
  --textTransparent: rgba(0,0,0,0.8);
  --shadow: rgba(0,0,0,0.25);


  font-family: 'Inter';
  margin: 0;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;

  background-color: var(--bg);
  color: var(--textNormal)
}
@media (prefers-color-scheme: dark) {
body {
  --bg: black;
  --textNormal: #DDDDDD;
  --textLink: #B7FFDC;
  --textHover: white;
  --contrastMaterial: black;
  --transparentMaterial: rgba(32, 32, 32, 0.8);
  --heroBackground: linear-gradient(180deg, #2E493B 0%, #1D2D23 41.15%, #000000 100%);
  --cardBackground: linear-gradient(180deg, rgba(63, 99, 80, 0.5) 0%, rgba(50, 94, 71, 0.5) 100%);
  --textGradient: linear-gradient(180deg, #D0FFE9 0%, #D5FFEB 100%);
  --textTransparent: rgba(255,255,255,0.8);

  
}
}

a {
  color: var(--textLink);
  text-decoration: none;
  font-weight: 600;
}


a:hover {
  color: var(--textHover);
}

h3 {
  color: var(--textHover);
}


.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}



