
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  --bg: white;
  --textNormal: black;
  --textLink: #04693E;
  --textHover: black;
  --contrastMaterial: white;
  --transparentMaterial: rgba(245, 245, 245, 0.8);
  --heroBackground: linear-gradient(180deg, #D0F1E1 0%, #CDF5E4 39.58%, #FFFFFF 100%);
  --cardBackground: linear-gradient(180deg, rgba(221, 255, 235, 0.5) 0%, rgba(217, 255, 241, 0.5) 100%);
  --textGradient: linear-gradient(180deg, #125937 0%, #1E8465 100%);
  --textTransparent: rgba(0,0,0,0.8);
  --shadow: rgba(0,0,0,0.25);


  font-family: 'Inter';
  margin: 0;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;

  background-color: var(--bg);
  color: var(--textNormal)
}

body.dark {
  --bg: black;
  --textNormal: white;
  --textLink: #B7FFDC;
  --textHover: white;
  --contrastMaterial: black;
  --transparentMaterial: rgba(32, 32, 32, 0.8);
  --heroBackground: linear-gradient(180deg, #1D4733 0%, #0D2617 41.15%, #000000 100%);
  --cardBackground: linear-gradient(180deg, rgba(19, 67, 41, 0.5) 0%, rgba(1, 28, 18, 0.5) 100%);
  --textGradient: linear-gradient(180deg, #D0FFE9 0%, #D5FFEB 100%);
  --textTransparent: rgba(255,255,255,0.8);

  
}



.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}



a {
  color: var(--textLink);
  text-decoration: none;
  font-weight: 600;
}


a:hover {
  color: var(--textHover);
}


.Hero {
  background: var(--heroBackground);
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: Opacity 1s 0s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}

.HeroGroup {
  padding-top: 100px;
  padding-bottom: 50px;
  display: grid;
  margin: 0 auto;
  max-width: 1000px;
  grid-template-columns: repeat(2,auto);
}


.Tags p {
  color: var(--textLink);
  font-weight: 600;
  padding: 5px 8px;
  border-radius: 25px;
  margin: auto;
  text-align: center;
  background: var(--cardBackground);
}

.Tag {
  position: relative;
  display: inline-block;
  padding: 5px;
}



.InfoCards {
  display: grid;
  grid-template-columns: repeat(2, auto);
  opacity: 0;
  animation: Opacity 1s 0s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  max-width: 1100px;
  margin: 0 auto;
}


@media (max-width: 1000px) {
  .InfoCards {
    max-width: 800px;
  }

}

@media (max-width: 640px) {
  .InfoCards {
    grid-template-columns: repeat(1, auto);
  }
}

.Important p {
    font-size: 22px;
    font-weight: 500;
}


.Photo img {
  margin: 0 auto;
  max-width: 500px;
}



.Song {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: start;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  justify-content: start;
  border-radius: 20px;
  padding: 10px;
  color: var(--textNormal);
  font-weight: 400;
}

.Song img {
  width: 80px;
  border-radius: 15px;
}

.Song:hover {
  background: var(--cardBackground);
  transform: scale(1.05);
}

.TitleArtist {
  padding-left: 15px;
  
}

.SongTitle p {
  color: var(--textLink);
  font-size: 20px;
  font-weight: 600;
}

.TitleArtist p {
  margin: 5px;

}



@media (max-width: 1000px) {

  .HeroGroup {
    grid-template-columns: none;
    grid-template-rows: repeat(2, auto);
  }

  .HeroGroup img {
    margin: 0 auto;
    max-width: 200px;
  }


 
}

.HeroGroup img {
  margin: 0 auto;
  max-width: 250px;
  border-radius: 50%;
  padding: 20px;
}




.HeroTextGroup {
  margin: 0 auto;
  max-width: 600px;
  text-align: start;
  align-self: center;
  padding: 20px;
}



.HeroTextGroup h1 {
  background: var(--textGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  font-size: 60px;
  line-height: 1.2;
  opacity: 0;
  animation: HeroAnimation 2s 0.1s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}

.HeroTextGroup p {
  font-size: 22px;
  font-weight: 500;
  color: var(--textTransparent);
  line-height: 1.5;
  animation: HeroAnimation 2s 0.5s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
}

.Hero .Socials {
  opacity: 0;
  padding-top: 30px;
  max-width: 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  justify-items: center;
  align-items: center; 
  animation: HeroAnimation 1s 1.0s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}


.Socials svg {
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Socials svg:hover {
  transform: scale(1.1);
}


.Socials path {
  fill: var(--textLink);
}

.Socials svg:hover path{
  fill: var(--textHover);
}








@media (max-width: 640px) {
  .HeroGroup {
    padding-top: 0px;
  }

  .HeroGroup img {
    padding: 40px;
  }


  .HeroTextGroup h1 {
    font-size: 36px;
  }

  .HeroTextGroup p {
    font-size: 22px;
  }

  .Hero .Socials {
    margin: auto;
    grid-gap: 20px;
  }



}

@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes Opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}