.Section {
    max-width: 600px;
    align-items: start;
}

@media (max-width: 820px) {
    .Section {
        margin: auto;
    }
}

.SectionPadding {
    padding: 20px;
    flex-grow: 0;
    flex-shrink: 0;
}



.Section h4 {
    margin: 10px 0;
  }



