.Section {
    max-width: 500px;
    align-items: start;
    backdrop-filter: blur(20px);
}

@media (max-width: 640px) {
    .Section {
        margin: auto;
    }
}

.SectionPadding {
    padding: 20px;
    flex-grow: 0;
    flex-shrink: 0;
}



.Section h4 {
    margin: 10px 0;
  }



