.Tags p {
    color: var(--textLink);
    font-weight: 600;
    padding: 5px 8px;
    border-radius: 25px;
    margin: auto;
    text-align: center;
    background: var(--cardBackground);
  }
  
  .Tag {
    position: relative;
    display: inline-block;
    padding: 5px;

  }
  
